@charset "utf-8";

body {
    background-color: #c9e0f3;
    max-width: 100%;
}






.header {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.site-name {
    font-size: 45px;
    margin-top: 50px;
    margin-left: 70px;
    font-family: "ta-shizuku", sans-serif;
}

.menu {
    font-family: "ads-mambo", sans-serif;
    display: flex;
    font-size: 20px;
    margin-top: 50px;
    margin-right: 120px;
    line-height: 60px;
    height: 60px;
    overflow: hidden;
}


nav ul li a {
    text-align: center;
    text-decoration: none;
    display: block;
    line-height: 60px;
    height: 120px;
    transition: .8s;
    font-weight: bold;
    position: relative;
    padding: 0 30px;
    font-family: "ads-mambo", sans-serif;
    /* display: flex; */
    /* box-sizing: border-box; */
}

nav ul li a::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    line-height: 1;
    content: attr(data-item);
    line-height: 50px;
    text-align: center;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #19448e;
    /* display: flex; */
}

.pc-nav ul li a:hover {
    margin-top: -60px;
    color: #f6f7f8;
}


.sp-btn,
.sp-nav {
    display: none;
}


.title {
    max-width: 780px;
    margin: 0 auto;
    padding: 100px 20px 0 20px;
}

.title img {
    width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

.scroll_down {
    position: absolute;
    bottom: -17%;
    left: 50%;
}

.scroll_down a {
    position: absolute;
    left: -40px;
    bottom: 170px;
    color: #19448e;
    font-size: 20px;
    font-family: "ads-mambo", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.scroll_down:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -4px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #19448e;
    animation:
        circlemove 1.6s ease-in-out infinite,
        cirlemovehide 1.6s ease-out infinite;
}

@keyframes circlemove {
    0% {
        bottom: 160px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes cirlemovehide {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
    }
}

.scroll_down:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 160px;
    background: #19448e;
}

.sab-heading {
    margin: 100px auto 0 auto;
    text-align: center;
}


.sab-title {
    font-size: 35px;
    margin-top: 480px;
    text-align: center;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
}

.copy {
    font-size: 23px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 100px;
    line-height: 1.73;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 500;
}


.profile-top {
    max-width: 100%;
    height: 750px;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}


.profile-top::after {
    display: block;
    width: 100%;
    content: "";
    background-color: #b0c4de;
    position: absolute;
    z-index: -2;
    height: 100%;
}



.profile-top-image {
    position: relative;
    width: 25%;
    aspect-ratio: 1;
}


.text-turn {
    width: 90%;
    position: absolute;
    top: -72px;
    left: -185px;
    z-index: 1;
}

.cat {
    position: relative;
    z-index: 100;
    top: 20px;
    left: -90px;
    width: 90%;
}


.profile-text-top {
    width: 24%;
    padding-right: 100px;
}

.profile-title-top {
    font-size: 45px;
    font-family: "ads-mambo", sans-serif;
}

.profile-ruby {
    font-size: 16px;
    margin-top: 10px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
}

.name-top {
    font-size: 40px;
    margin-top: 70px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
}

.ruby {
    font-size: 16px;
    margin-top: 10px;
    font-family: "ads-mambo", sans-serif;
}

a {
    display: block;
    text-decoration: none;
}

.name-top-sp {
    display: none;
}


.profile-btn-top {
    position: relative;
    margin-right: 10%;
}



.Btn {
    border: 2px solid #19448e;
    width: 178px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #19448e;
    font-size: 16px;
    transition: .4s;
    border-radius: 50px;
    font-family: "ads-mambo", sans-serif;
    position: absolute;
    right: 50%;
    top: 220px;
}

.Btn:hover {
    color: #f6f7f8;
    background: #19448e;
    transition: .4s;
}

.works-title-top {
    font-size: 45px;
    text-align: center;
    margin-top: 150px;
    font-family: "ads-mambo", sans-serif;
}

.works-text-top {
    font-size: 16px;
    text-align: center;
    padding-bottom: 90px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;

}

.slick {
    bottom: 100px;
    width: 100%;
    margin: 100px auto;
}

.slider-box {
    margin: 0 40px 0 40px;
    width: 389px;
    background-color: #f6f7f8;
    position: relative;
    border-radius: 25px;
    transform: scale(.8);
    transition: transform .5s;
    aspect-ratio: 3/4;
}

.slider-box img {
    width: 80%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    opacity: .3;
    transition: opacity .5s;
}


.slick .slick-center img {
    opacity: 1;
}

.slick .slick-center {
    transform: scale(1);
}

.slide-arrow {
    max-width: 15%;
}


.prev-arrow {
    left: 7%;
    width: 78px;
    position: absolute;
    bottom: -58px;
}

.next-arrow {
    right: 7%;
    position: absolute;
    width: 78px;
    bottom: -58px;
}


.slick-prev {
    left: 15%;
    top: 500px;
    z-index: 1000;
}

.slick-next {
    right: 15%;
    top: auto;
    bottom: -50px;
}

.slick-dots {
    bottom: -50px;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    font-size: 10px;
    color: #19448e;
}

.slick-prev:before {
    content: '';
}

.slick-next:before {
    color: #19448e;
    width: 78px;
    height: 12px;
    border-bottom: 3px solid #19448e;
    border-right: 3px solid #19448e;
    display: block;
    content: '';
    transform: rotate(45deg);
}




.Btn-works {
    border: 2px solid #19448e;
    margin-top: 140px;
    margin-left: 75%;
    margin-bottom: 168px;
    width: 178px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #19448e;
    font-size: 16px;
    transition: .4s;
    border-radius: 50px;
    font-family: "ads-mambo", sans-serif;
}

.Btn-works:hover {
    color: #f6f7f8;
    background: #19448e;
    transition: .4s;
}

.contact-top {
    height: 33%;
    width: 100%;
    position: relative;
}

.contact-top::after {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #b0c4de;
    content: "";
    display: block;
    z-index: -2;
    bottom: 0;
    left: 0;
}


.contact-title-top {
    text-align: center;
    font-size: 45px;
    margin-bottom: 25px;
    padding-top: 130px;
    font-family: "ads-mambo", sans-serif;
    z-index: 1;
}

.contact-text-top {
    text-align: center;
    font-size: 20px;
    margin-bottom: 90px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 500;
    z-index: 1;
}

.letter {
    margin: 0 auto;
    text-align: center;
    width: 20%;

}

.letter a img {
    width: 100%;
}

.copyright {
    font-size: 17px;
    text-align: center;
    margin-top: 130px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    padding-bottom: 10px;
}

.top a img {
    width: 100px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    scroll-behavior: smooth;
}















.profile-title {
    text-align: center;
    font-size: 45px;
    font-family: "ads-mambo",
        sans-serif;
    margin-top: 155px;
}

.profile-sub {
    text-align: center;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 17px;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.profile-main {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    top: -60px;
    width: 40%;
}

.profile-image {
    position: relative;
    aspect-ratio: 1;
    width: 75%;
}

.image-name {
    width: 95%;
    position: absolute;
    left: 34%;
    top: -5%;
    z-index: 1;
}

.profile-photo {
    position: relative;
    z-index: 100;
    top: 15%;
    left: 63%;
    width: 94%;
}

.bio {
    padding-right: 20px;
    margin-right: 60px;
    width: 40%;
    margin-left: 50px;

}

.name {
    font-size: 40px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    margin-top: 150px;
}

.name-ruby {
    font-size: 16px;
    font-family: "ads-mambo", sans-serif;
    margin-top: 10px;
}

.text {
    font-size: 20px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    margin-top: 90px;
    line-height: 1.9;
}

.hobby {
    font-size: 25px;
    font-family: "ads-mambo", sans-serif;
    margin-top: 80px;
}

.hobby-text {
    font-size: 20px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    margin-top: 15px;
    line-height: 1.9;
}



.skill-title {
    text-align: center;
    font-size: 45px;
    font-family: "ads-mambo", sans-serif;
    margin-top: 250px;
}

.skill-sub-title {
    text-align: center;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 17px;
}


.skill-main {
    display: flex;
    gap: 7%;
    justify-content: center;
    margin-top: 110px;
    padding: 10px;
    margin-bottom: 100px;
}


.design-skill-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #19448e;
    color: #f6f7f8;
    height: 35px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-size: 19px;
    width: 354px;
    border-radius: 10px;
}

.skill-item {
    display: flex;
    margin: 30px auto;
}

.skill-name {
    width: 150px;
    text-align: left;
    font-size: 22px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    margin-left: 20px;
}

.skill-level {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 0 auto;
}


.skill-level span {
    display: block;
    width: 14px;
    height: 14px;
    border: 2px solid #19448e;
    border-radius: 50%;
}

.color {
    background-color: #19448e;
}

.coding-list {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}

.coding-skill-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #19448e;
    color: #f6f7f8;
    height: 35px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-size: 19px;
    width: 660px;
    border-radius: 10px;
}
















.works-title {
    text-align: center;
    font-size: 45px;
    font-family: "ads-mambo", sans-serif;
    margin-top: 155px;
}

.works-sub-title {
    text-align: center;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 17px;
}

.works-botton-unity {
    display: flex;
    margin: 130px auto 0 auto;
    padding-bottom: 15px;
    width: 85%;
    border-bottom: 2px solid #19448e;
}

.works-botton-main {
    display: flex;
}


.show {
    display: block;
}

.hide {
    display: none;
}

/* .works-botton-color {
    font-size: 18px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 600;
    padding-left: 50px;
} */

.works-botton {
    font-size: 18px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 600;
    color: #f6f7f8;
    padding-left: 50px;
}

.works-botton-main span.show {
    color: #19448e;
}

.works {
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    margin: 120px auto 200px auto;
    gap: 50px;
}

.works-box {
    width: 355px;
    height: 400px;
    border-radius: 34px;
    background-color: #f6f7f8;
    justify-content: center;
    align-items: center;
    display: flex;
}

.works-box img {
    width: 80%;
}


.works-opus {
    font-size: 16px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    padding-top: 15px;
    text-align: center;
}

.hashtag {
    font-size: 13px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    padding-top: 15px;
    text-align: center;
}











.detail {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 170px;
}

.detail-main {
    display: flex;
}

.detail-left {
    flex: 0 1 40%;
    padding-right: 30px;
    margin-top: 50px;
}

.detail-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 20%;
    align-items: center;
}


.type-pc {
    display: inline-block;
    width: 180px;
    font-size: 16px;
    font-family: "ads-mambo", sans-serif;
    color: #f6f7f8;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    background: #19448e;
}

.type.sp {
    display: none;
}

.content {
    font-size: 18px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 25px;
    text-align: center;
    width: 418px;
    border-bottom: 2px solid #19448e;
    margin-left: 15px;
    margin-right: 15px;
    padding: 30px 20px 25px 20px;
    line-height: 1.4;
}

.detail-table {
    margin-top: 40px;
    width: 385px;
    border-collapse: separate;
    /* padding-left: 25px;
    padding-right: 25px; */
    margin: 30px auto;
}



th {
    font-size: 18px;
    font-family: "ads-mambo", sans-serif;
    text-align: start;
    padding: 10px 0 25px 0;
    width: 71%;
}


td {
    font-size: 18px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    text-align: start;
    padding: 10px 0 20px 0;
    width: 30%;
}



.detail-right {
    flex: 0 1 60%;
}

.box-sns {
    background-color: #f6f7f8;
    width: 490px;
    height: 615px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 34px;
}

.box-sns img {
    width: 80%;
}

.box {
    background-color: #f6f7f8;
    width: 490px;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 34px;
    margin-top: 70px;
}

.box img {
    width: 80%;
}


.Btn-detail {
    border: 2px solid #19448e;
    margin: 30% auto 18% auto;
    width: 178px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #19448e;
    font-size: 16px;
    transition: .4s;
    border-radius: 50px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
}

.Btn-detail:hover {
    color: #f6f7f8;
    background: #19448e;
    transition: .4s;
}

.arrow-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.prev,
.next {
    margin-top: 90px;
}


.next a {
    text-align: right;
}


.prev a img {
    width: 123px;
    padding-left: 60px;
}

.next a img {
    width: 123px;
    padding-right: 60px;
}



.prev-text {
    position: absolute;
    top: 55%;
    left: 14%;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    color: #19448e;
    font-size: 20px;
}

.next-text {
    position: absolute;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    color: #19448e;
    top: 55%;
    right: 14%;
    font-size: 20px;
}


.box-square {
    background-color: #f6f7f8;
    width: 490px;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 34px;
    margin-top: 70px;
}

.box-square img {
    width: 68%;
}

.box-mockup {
    background-color: #f6f7f8;
    width: 490px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 34px;
}

.box-mockup img {
    width: 85%;
}

.box-rectangle {
    background-color: #f6f7f8;
    width: 490px;
    height: 1830px;
    display: flex;
    align-items: center;
    border-radius: 34px;
    margin-top: 70px;
    flex-direction: column;
}

.pc {
    margin: 80px auto 100px auto;
    width: 70%;

}


.image-phone {
    display: flex;
    width: 70%;
    gap: 80px;
}



.box-rectangle-pc {
    background-color: #f6f7f8;
    width: 490px;
    height: 1680px;
    display: flex;
    align-items: center;
    border-radius: 34px;
    margin-top: 70px;
    flex-direction: column;
}













.contact-main {
    max-width: 850px;
    margin: 100px auto;
    padding: 0 27px;
}

.contact-title {
    text-align: center;
    font-size: 45px;
    font-family: "ads-mambo", sans-serif;
    margin-top: 50px;
    margin-bottom: 15px;
}

.contact-sub-title {
    font-size: 16px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    text-align: center;
}

.form-text {
    font-size: 14px;
    text-align: center;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
}

.number-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
}

.number {
    font-size: 25px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    text-align: center;
    background-color: #19448e;
    color: #f6f7f8;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 7px;
}

.number-item {
    font-size: 25px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #19448e;
    border: solid 2px #19448e;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 7px;
}

.contact-flex {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    gap: 50px;
    margin-top: 90px;
}


.contact-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    gap: 50px;
    margin-top: 90px;
}

.contact-text {
    flex: 0 0 25%;
    font-size: 16px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    margin-top: 12px;
}

.category-main {
    display: flex;
    flex-wrap: wrap;
}



.category-main label {
    font-size: 16px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    width: 50%;
    display: flex;
    align-items: center;
    margin: 10px auto
}

.category-main label::before {
    content: "〇";
    font-size: 18px;
    margin-right: 8px;
    color: #19448e;
}

.category-main input[type="radio"] {
    display: none;
}

.category-main input[type="radio"]:checked+label::before {
    content: "⚫︎";
}



.name-box,
.mail-box,
.tel-box {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #19448e;
    border-radius: 15px;
    background-color: #f6f7f8;
    width: 300px;
    height: 25px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
}

.contact-box {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #19448e;
    border-radius: 20px;
    background-color: #f6f7f8;
    width: 300px;
    height: 200px;
}

.send {
    display: flex;
    justify-content: center;
}

.send-item {
    border: 2px solid #19448e;
    margin-top: 140px;
    margin-bottom: 100px;
    width: 150px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #19448e;
    font-size: 16px;
    transition: .4s;
    border-radius: 50px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
}

.send-item:hover {
    color: #f6f7f8;
    background: #19448e;
    transition: .4s;
}










.thanks-number-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}


.thanks-number-item {
    font-size: 25px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    text-align: center;
    background-color: #19448e;
    color: #f6f7f8;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 7px;
}

.thanks-number {
    font-size: 25px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    text-align: center;
    border: solid 2px #19448e;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 7px;
}


.thanks-text {
    text-align: center;
    font-size: 50px;
    font-family: "ta-shizuku", sans-serif;
}


.thanks-sub-text {
    font-size: 25px;
    text-align: center;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    margin-top: 50px;
}



.thanks-btn {
    border: 2px solid #19448e;
    margin: 150px auto 100px auto;
    width: 178px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #19448e;
    font-size: 16px;
    transition: .4s;
    border-radius: 50px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
}

.thanks-btn:hover {
    color: #f6f7f8;
    background: #19448e;
    transition: .4s;
}








.rain_bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.rain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    animation: animate-rain 8s linear;
    top: -60px;
}

.rain-1 {
    background-image: url('../images/SVG/SVG/rain-blue.svg');
}

.rain-2 {
    background-image: url('../images/SVG/SVG/rain-white.svg');
}

.rain-3 {
    background-image: url('../images/SVG/SVG/SVG/rain-dark.svg');
}


@keyframes animate-rain {
    0% {
        opacity: 0;
        top: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 100vh;
    }
}















@media screen and (max-width:1100px) {
    .site-name {
        font-size: 39px;
    }

    .title {
        max-width: 640px;
    }

    .sab-title {
        font-size: 28px;
    }

    .copy {
        font-size: 19px;
    }


    .profile-text-top {
        padding-right: 0;
    }

    .profile-title-top,
    .works-title-top,
    .contact-title-top,
    .profile-title,
    .works-title,
    .contact-title {
        font-size: 38px;
    }

    .name-top,
    .name {
        font-size: 32px;
    }


    .profile-top-image {
        width: 34%;
    }

    .text-turn {
        top: -55px;
    }

    .cat {
        top: 35px;
    }


    .letter {
        width: 29%;
    }

    .text,
    .hobby-text {
        font-size: 17px;
    }

    .hobby {
        font-size: 22px;
    }

    .coding-list {
        display: block;
        margin-right: 0;
    }

    .coding-skill-text,
    .design-skill-text {
        font-size: 16px;
        width: 322px;
        height: 30px;
    }

    .skill-level {
        margin: 0;
    }


    .skill-name {
        font-size: 19px;
    }


    .works-box {
        width: 333px;
        height: 370px;
    }


    .detail-main {
        flex-direction: column;
    }



    .detail-left {
        order: 3;
        padding-right: 0;
    }

    .type.sp {
        display: inline-block;
        margin: 0 auto 90px auto;
        width: 180px;
        font-size: 16px;
        font-family: "ads-mambo", sans-serif;
        color: #f6f7f8;
        line-height: 40px;
        text-align: center;
        border-radius: 50px;
        background: #19448e;
    }

    th,
    td {
        font-size: 16px;
    }


    .detail-text {
        height: auto;
    }


    .content {
        margin: 0 auto;
        font-size: 16px;
    }

    .box-sns {
        width: 442px;
        height: 544px;
        order: 2;
        margin: 0 auto;
    }

    .box-sns img {
        width: 80%;
    }

    .box {
        width: 442px;
        height: 380px;
        order: 4;
        margin: 0 auto;
    }

    .box img {
        width: 80%;
    }

    .box-square {
        width: 442px;
        height: 442px;
        order: 4;
        margin: 0 auto;
    }

    .box-square img {
        width: 72%;

    }

    .box-mockup {
        width: 442px;
        height: 365px;
        order: 2;
        margin: 0 auto;
    }


    .box-rectangle {
        width: 442px;
        height: 1684px;
        order: 4;
        margin: 0 auto;
    }

    .box-rectangle-pc {
        width: 442px;
        height: 1523px;
        order: 4;
        margin: 0 auto;
    }


    .type-pc {
        display: none;
    }

    .detail-right {
        margin: 0 auto;
        flex: 0;
        display: flex;
        display: contents;
    }



    .prev,
    .next {
        margin-top: 5px;
    }

    .prev-text {
        top: 47%;
        font-size: 17px;
        left: 11%;
    }

    .next-text {
        top: 47%;
        font-size: 17px;
        right: 11%;
    }

    .prev a img {
        width: 90px;
        padding-left: 50px;
    }

    .next a img {
        width: 90px;
        padding-right: 50px;
    }

}

















@media screen and (max-width:767px) {
    .site-name {
        font-size: 33px;
        margin: 55px 50px 0 70px;
        font-family: "ta-shizuku", sans-serif;
    }

    .pc-nav {
        display: none;
    }

    .header {
        position: relative;
    }



    .sp-btn {
        display: block;
        height: 23px;
        cursor: pointer;
        position: absolute;
        top: 66px;
        right: 57px;
        z-index: 2000;
    }

    .sp-btn span {
        display: block;
        width: 33px;
        height: 4px;
        background: #19448e;
        border-radius: 2px;
        position: relative;
        top: 10px;
        transition: 0.3s;
        z-index: 300;
    }


    .sp-btn span::before,
    .sp-btn span::after {
        content: "";
        display: block;
        width: 33px;
        height: 4px;
        background: #19448e;
        border-radius: 2px;
        position: absolute;
        transition: 0.3s;
    }

    .sp-btn span::before {
        bottom: 10px;
    }

    .sp-btn span::after {
        top: 10px;
    }

    .sp-btn.open span {
        background: transparent;
    }

    .sp-btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp-btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }


    .sp-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 400vh;
        background: rgba(149, 172, 216, 1);
        z-index: 1000;
    }


    .sp_nav ul li a {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 40px;
        display: flex;
    }


    .sp-nav ul li {
        font-size: 30px;
        font-family: "ads-mambo", sans-serif;
        height: 60px;
        overflow: hidden;
        /* pointer-events: none; */
    }

    ul {
        margin-top: 250px;
    }




    .title {
        max-width: 600px;
    }

    .scroll_down a {
        font-size: 17px;
        left: -30px;
    }

    .sab-title {
        font-size: 20px;
        /* width: 170px; */
        line-height: 1.6;
        margin: 500px auto 0 auto;
    }

    .copy,
    .contact-text-top {
        font-size: 16px;
        font-weight: 600;
    }

    .profile-top {
        flex-direction: column;
        justify-content: flex-start;
        gap: 22px;
    }


    .profile-top-image {
        width: 44%;
        order: 2;
        margin-top: 119px;
    }

    .text-turn {
        left: -50px;
        top: -80px;
    }

    .cat {
        top: -10px;
        left: 40px;
    }


    .name-top-sp {
        display: inline-block;
        order: 3;
        text-align: center;
    }

    .name-top-pc {
        display: none;
    }

    .name-top {
        margin-top: 0;
    }

    .profile-btn-top {
        order: 4;
        margin: 20px auto;
    }


    .Btn {
        position: static;
        top: 0;
        right: 0;
    }

    .profile-text-top {
        text-align: center;
        margin-top: 30px;
    }

    .profile-title-top,
    .works-title-top,
    .contact-title-top,
    .profile-title,
    .works-title,
    .contact-title,
    .skill-title {
        font-size: 32px;
    }

    .profile-ruby,
    .ruby,
    .works-text-top,
    .profile-sub,
    .name-ruby,
    .works-sub-title,
    .contact-sub-title,
    .skill-sub-title {
        font-size: 16px;
    }


    .name {
        font-size: 27px;
    }


    .Btn-works {
        margin: 140px auto 160px auto;
    }

    .slider-box {
        margin: 0 14px 0 14px;
    }

    .prev-arrow,
    .next-arrow {
        width: 51px;
    }

    .letter {
        width: 27%;
    }

    .copyright {
        font-size: 12px;
    }

    .profile {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .profile-main {
        top: 90px;
        width: 60%;
        justify-content: center;

    }

    .profile-image {
        width: 80%;
    }

    .image-name {
        left: 20%;
        top: 0;
    }

    .profile-photo {
        top: 20%;
        left: 55%;
        width: 100%;
    }

    .bio {
        width: 90%;
        padding: 0 10px;
        text-align: center;
        margin: 200px 30px 0 30px;
    }

    .text {
        font-size: 17px;
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .hobby {
        font-size: 23px;
        margin-top: 60px;
    }

    .hobby-text {
        font-size: 17px;
        margin-top: 20px;
    }


    .skill-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }


    .design-skill {
        margin-bottom: 50px;
    }

    .top a img {
        width: 90px;
    }

    .works-botton-unity {
        gap: 20px;
    }

    .works-botton-main {
        flex-direction: column;
    }

    .works-botton-color {
        padding-left: 30px;
        padding-bottom: 15px;
        font-size: 23px;
    }

    .works-botton {
        padding-bottom: 15px;
        font-size: 23px;
    }


    .works-box {
        width: 359px;
        height: 410px;
    }

    .works-opus,
    .hashtag {
        padding-top: 10px;
    }

    .Btn-detail {
        width: 158px;
        height: 34px;
        margin: 15% auto 14% auto;
        border: 1.5px solid #19448e;
        font-size: 14px;
    }


    .prev-text {
        font-size: 15px;
        left: 16%;
    }

    .next-text {
        top: 47%;
        font-size: 15px;
        right: 16%;
    }



    .contact-main {
        max-width: 500px;
    }

    .number,
    .number-item,
    .thanks-number-item,
    .thanks-number {
        font-size: 20px;
        width: 38px;
        height: 38px;
    }

    .contact-flex {
        flex-direction: column;
    }

    .contact-text {
        text-align: start;
        margin: 12px auto;
    }

    .form-text {
        font-size: 12px;
        width: 253px;
        margin: 20px auto 0 auto;
        line-height: 1.5;
    }

    .category-main {
        flex-direction: column;
        margin: 0 auto;
    }

    .category-main label {
        width: 100%;
    }

    .thanks-text {
        font-size: 29px;
    }

    .thanks-sub-text {
        font-size: 20px;
    }

}