@charset "utf-8";

body {
    background-color: #c8dfef;
    max-width: 100%;
}

.header {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.site-name {
    font-size: 45px;
    margin: 50px 50px 0 50px;
    font-family: "ta-shizuku", sans-serif;
}

.menu {
    color: #19448e;
    font-family: "ads-mambo", sans-serif;
    display: flex;
    font-size: 20px;
    margin-top: 50px;
    margin-right: 60px;
    line-height: 60px;
    height: 60px;
    overflow: hidden;
}

nav ul li a {
    text-align: center;
    text-decoration: none;
    display: block;
    line-height: 60px;
    height: 120px;
    display: block;
    transition: .3s;
    font-weight: bold;
    position: relative;
    padding: 0 30px;
    font-family: "ads-mambo", sans-serif;
    /* box-sizing: border-box; */
}

nav ul li a::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    line-height: 1;
    content: attr(data-item);
    line-height: 50px;
    text-align: center;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #19448e;
}

nav ul li a:hover {
    margin-top: -60px;
    color: #fff;
}

/* .menu li {
    margin-right: 30px;
} */

.title {
    max-width: 720px;
    margin: 0 auto;
    padding: 100px 10px 0 10px;
}

.title img {
    width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

.scroll_down {
    position: absolute;
    bottom: -150px;
    left: 50%;
}

.scroll_down a {
    position: absolute;
    left: -40px;
    bottom: 170px;
    color: #19448e;
    font-size: 20px;
    font-family: "ads-mambo", sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
    text-decoration: none;
    text-transform: uppercase;
}

.scroll_down:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -4px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #19448e;
    animation:
        circlemove 1.6s ease-in-out infinite,
        cirlemovehide 1.6s ease-out infinite;
}

@keyframes circlemove {
    0% {
        bottom: 160px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes cirlemovehide {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
    }
}

.scroll_down:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 160px;
    background: #19448e;
}


.sab-title {
    font-size: 35px;
    margin-top: 480px;
    text-align: center;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
}

.copy {
    font-size: 23px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 100px;
    line-height: 1.73;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 500;
}

.profile-top {
    max-width: 100%;
    height: 800px;
    background-color: #b0c4de;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}



.profile-top-image {
    position: relative;
    width: 25%;
    aspect-ratio: 1;
}


.text-turn {
    width: 100%;
    position: absolute;
    top: -60px;
    left: -120px;
    z-index: 1;
}

.cat {
    position: relative;
    z-index: 100;
    top: 20px;
    left: -40px;
}


.profile-text-top {
    margin-left: 50px;
}

.profile-title-top {
    font-size: 45px;
    font-family: "ads-mambo", sans-serif;
}

.profile-ruby {
    font-size: 16px;
    margin-top: 10px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
}

.name-top {
    font-size: 40px;
    margin-top: 70px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
}

.ruby {
    font-size: 16px;
    margin-top: 10px;
    font-family: "ads-mambo", sans-serif;
}

a {
    display: block;
    text-decoration: none;
}

.Btn {
    border: 2px solid #19448e;
    margin-top: 55%;
    margin-right: 8%;
    width: 178px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #19448e;
    font-size: 16px;
    transition: .4s;
    border-radius: 50px;
    font-family: "ads-mambo", sans-serif;
}

.Btn:hover {
    color: #f6f7f8;
    background: #19448e;
    transition: .4s;
}

.works-title-top {
    font-size: 45px;
    text-align: center;
    margin-top: 150px;
    font-family: "ads-mambo", sans-serif;
}

.works-text-top {
    font-size: 16px;
    text-align: center;
    padding-bottom: 90px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;

}

.slick {
    bottom: 100px;
    width: 100%;
    margin: 100px auto;
}

.slider-box {
    margin: 0 40px 0 40px;
    width: 270px;
    height: 330px;
    background-color: #f6f7f8;
    position: relative;
    border-radius: 42px;
}

.slick img {
    width: 65%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    opacity: .3;
    transform: scale(.8);
    transition: opacity .5s, transform .5s;
}

.slick .slick-center img {
    opacity: 1;
    transform: scale(1);
}

/* .slide-arrow {
    max-width: 15%;
} */


.prev-arrow {
    left: 7%;
    width: 20%;
}

.next-arrow {
    left: 80%;
}


/* .slick-prev {
    left: 15%;
    top: 500px;
    z-index: 1000;
}

.slick-next {
    right: 15%;
    top: auto;
    bottom: -50px;
} */

.slick-dots {
    bottom: -50px;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    font-size: 10px;
    color: #19448e;
}

.slick-prev:before {
    content: '';
}

.slick-next:before {
    /* color: #19448e;
    width: 78px;
    height: 12px;
    border-bottom: 3px solid #19448e;
    border-right: 3px solid #19448e;
    display: block; */
    content: '';
    /* transform: rotate(45deg); */
}




.Btn-works {
    border: 2px solid #19448e;
    margin-top: 140px;
    margin-left: 75%;
    margin-bottom: 168px;
    width: 178px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #19448e;
    font-size: 16px;
    transition: .4s;
    border-radius: 50px;
    font-family: "ads-mambo", sans-serif;
}

.Btn-works:hover {
    color: #f6f7f8;
    background: #19448e;
    transition: .4s;
}

.contact {
    height: 33%;
    width: 100%;
    background-color: #b0c4de;
    position: relative;
}

.contact-title {
    text-align: center;
    font-size: 45px;
    margin-bottom: 25px;
    padding-top: 130px;
    font-family: "ads-mambo", sans-serif;
}

.contact-text {
    text-align: center;
    font-size: 20px;
    margin-bottom: 90px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 500;
}

.letter {
    margin: 0 auto;
    text-align: center;
    width: 19%;
}

.letter a img {
    width: 100%;
}

.copyright {
    font-size: 17px;
    text-align: center;
    margin-top: 130px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    padding-bottom: 10px;
}

.top a img {
    width: 100px;
    position: fixed;
    right: 40px;
    bottom: 40px;
}











.profile-title {
    text-align: center;
    font-size: 45px;
    font-family: "ads-mambo", sans-serif;
    margin-top: 155px;
}

.profile-sub {
    text-align: center;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 17px;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.profile-main {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    top: -60px;
}

.profile-image {
    position: relative;
    aspect-ratio: 1;
    margin-left: 80px;
    width: 70%;
}

.image-name {
    width: 100%;
    position: absolute;
    left: 60px;
    top: -30px;
    z-index: 1;
}

.profile-photo {
    position: relative;
    z-index: 100;
    top: 80px;
    left: 180px;
    width: 100%;
}

.bio {
    padding-right: 20px;
    margin-right: 60px;
    width: 40%;

}

.name {
    font-size: 40px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    margin-top: 150px;
}

.name-ruby {
    font-size: 16px;
    font-family: "ads-mambo", sans-serif;
    margin-top: 10px;
}

.text {
    font-size: 20px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    margin-top: 90px;
    line-height: 1.9;
}

.hobby {
    font-size: 25px;
    font-family: "ads-mambo", sans-serif;
    margin-top: 80px;
}

.hobby-text {
    font-size: 20px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    margin-top: 15px;
    line-height: 1.9;
}

.skill-main {
    display: flex;
    gap: 7%;
    justify-content: center;
    margin-top: 90px;
    padding: 10px;
}

.skill-title {
    text-align: center;
    font-size: 45px;
    font-family: "ads-mambo", sans-serif;
    margin-top: 250px;
}

.skill-sub-title {
    text-align: center;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 17px;
}


.skill-main {
    display: flex;
    gap: 7%;
    justify-content: center;
    margin-top: 110px;
    padding: 10px;
    margin-bottom: 100px;
}

.design-skill-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #19448e;
    color: #f6f7f8;
    height: 35px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-size: 19px;
    width: 354px;
}

.skill-item {
    display: flex;
    margin: 30px auto;
}

.skill-name {
    width: 150px;
    text-align: left;
    font-size: 22px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    margin-left: 20px;
}

.skill-level {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 0 auto;
}


.skill-level span {
    display: block;
    width: 17px;
    height: 17px;
    border: 2px solid #19448e;
    border-radius: 50%;
}

.color {
    background-color: #19448e;
}

.coding-list {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}

.coding-skill-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #19448e;
    color: #f6f7f8;
    height: 35px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-size: 19px;
    width: 660px;
}







.works-title {
    text-align: center;
    font-size: 45px;
    font-family: "ads-mambo", sans-serif;
    margin-top: 155px;
}

.works-sub-title {
    text-align: center;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 17px;
}

.works-botton-unity {
    display: flex;
    margin: 130px auto 50px auto;
    padding-bottom: 15px;
    width: 85%;
    border-bottom: 3px solid #19448e;

}

.works-botton-color {
    font-size: 20px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    padding-left: 55px;
    padding-right: 40px;

}

.works-botton {
    font-size: 23px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    padding-right: 40px;
    color: #f6f7f8;

}

.works {
    display: flex;
    /* align-content: space-between; */
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto 200px auto;


}

.works-box {
    width: 370px;
    height: 370px;
    border-radius: 34px;
    background-color: #f6f7f8;
    margin: 80px 20px 10px 20px;
}

.works-box img {
    justify-content: center;
    align-items: center;
    margin: 20px 50px 15px 60px;
}


.works-opus {
    font-size: 16px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    padding: 5px 110px 0 110px;
    text-align: center;
}

.hashtag {
    font-size: 13px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    padding: 10px 115px 0 115px;
    text-align: center;
}